/*colocando * inicialmente podemos resetear ciertos margenes que vienen por defecto en nuestro navegador*/
*
    {
    margin: 0px;
    padding: 0px; 
    }

body
    {
    font-family: Arial, Helvetica, sans-serif;
    }

/*para darle formato en css a un Id o identificador utilizamos este caracter: #*/
#container
    {
        /*colocamos el ancho del container o caja contenedora de mi proyecto*/
        width: 80%;
        /*al colocar un margin: 0px auto; nos centra el elemento dentro de nuesto contenedor*/
        margin: 0px auto;
        /*podemos colocar un borde para saber el tamaño de nuestra caja*/
    }

/*ahora le daremos estilo a nuestra cabecera*/
header
    {
        background: rgb(39, 69, 100);
        height: 100px;
        width: 100%;
        /*con esta etiqueta centramos el contenido del texto*/
        text-align: center;
        /*con esta etiqueta centramos el contenido del texto, ahora verticalmente colocando el mismo tamaño de la caja que tiene en el height*/
        line-height: 100px;
        border-bottom: 1px solid white;
        /*con el border bottom ponemos una raya por debajo del boton*/
    }

.menu
    {
        background: rgb(64, 103, 141);
        height: 50px;
        border-bottom: 1px solid white;
    }

/*dandole estilo al menu*/
.menu ul li
    {
    /*con el float left todo los elementos flotaran a la izquierda*/
        float: left;
        /*para quitar las rayas de abajo de cada item, usamos list-stiyle:none;*, luego los separamos el uno del otro con un margin:10px aprox.*/
        list-style-type: none;
        text-align: left;
        margin: 10px;
        /*para centar los enlaces del menu utilizamos line-heith de 30 px;*/
        line-height: 30px;
        float: right;
    }

.menu ul li:hover
    {
        background: rgb(158, 160, 160);
    }

/*para que los elementos de abajo no suban hacia arriba, en nuestro index.html colocamos un div con la clase clearfix despues del nav y le colocamos clear:both */
.clearfix
    { 
        clear: both;
    }

#content 
    {
    float: left; 
    width: calc(75% - 75px);
    min-height: 840px;
    background:cadetblue ;
    padding: 40px;
}
.text
{
    text-decoration: none;
}
.centro
    {
        color:#eee;
        text-align: center;
        padding-top: 40px;
    }
.article
    {
        color:black;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        text-align: justify;
    }
/*colocando una linea por encima del primer artículo*/

.article:first-child
    {
        padding-top: 10px;
        
    }

.article h2 
    {
        font-size: 25px;
    }

aside
    {
        color:#eee;
        width: calc(25% - 13px);
        background:rgb(64, 103, 141);
        min-height: 900px;
        padding: 20px 0px 0px 8px;
        float: left;
    }

footer
    {
        background: black;
        color: white;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
